@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* primary secondary accent warning info danger border*/
  --primary: #b39cd0;
  --secondary: #e89dcd;
  --border: #808080;
  --accent: #ffa3b6;
  --warning: #ffb594;
  --success: #4d8076;
}

.dark {
  --background: #171717;
  --foreground: #ffffff;
  --primary: #b39cd0;
  --secondary: #8195cf;
  --border: #505050;
  --accent: #3a8fc5;
  --warning: #ffb594;
  --success: #4d8076;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-border: var(--border);
  --color-accent: var(--accent);
  --color-warning: var(--warning);
  --color-success: var(--success);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

/* Контейнер секции */
section {
  max-width: 800px;
  margin: 50px auto;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);
}

/* Заголовки */
h1,
h2 {
  text-align: center;
}

h1 {
  font-size: 2rem;
  color: #1e40af;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5rem;
  color: #1e3a8a;
  margin-top: 30px;
  margin-bottom: 15px;
}

/* Параграфы */
p {
  font-size: 1rem;
  margin-bottom: 20px;
}

/* Списки */
ul {
  list-style: none;
  padding-left: 0;
}

ul li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
}

ul li::before {
  content: "✔";
  position: absolute;
  left: 0;
  color: #10b981;
  font-weight: bold;
}

/* Жирный текст */

/* Адаптивность */
@media (max-width: 600px) {
  section {
    padding: 20px;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.25rem;
  }
}
